.torre_eiffel {
    text-align: center;
}

.coliseu {
    text-align: center;
}

.museu_vaticano {
    text-align: center;
}

p {
    text-align: justify;
}

h1, h3 {
    text-align: center;
}

body {
    background-color: rgb(253, 246, 238);
}

footer p {
    margin: 9% auto;
}

/*Estilizando imagem*/
img {
    border-radius: 8%;
    max-width: 100%;  /* Garante que a imagem não ultrapasse a largura do contêiner pai */
    height: auto;     /* Mantém a proporção da imagem */
}
